{% extends "_base.html" %}
{% load static %} 
{% block title %}Home{% endblock title %}

{% block content %}

<div class="container">
    
    <section class="task-box">
        <div class="task-header">
            <h2>Active Tasks</h2>
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="task-input">
                <input type="text" name="title" placeholder="Enter your task">
                <button type="submit" class="task-input">Add</button>
            </div>
            </form>
        {% for todo in todos %}
        <div class="task-item">
            <input type="checkbox">
            <span title="{{ todo.description }}">{{ todo.title }}</span>

            <div class="actions">
                <a href="{% url 'edit' todo.pk %}" class="edit-btn"><img width="27" height="35" src="{% static 'img/edit.svg' %}" alt="✏️"></a>
                <a href="#" data-todo-id="{{ todo.id }}" data-taggle-soft-delete-url={% url "taggle_soft_delete" %} class="soft-delete-btn"><img width="35" src="{% static 'img/delete.svg' %}" alt="❌"></a>
            </div>
        </div>
        {% endfor %}
    </section>


<!-- 
    <section class="completed-box">
        <div class="completed-header">
            <h2>Completed Tasks</h2>
        </div>

        <div class="completed-actions">
            <button class="clear-btn">Clear All Completed Tasks</button>
        </div>

        <div class="completed-item">
            <input type="checkbox" checked>
            <span>Water the Plants</span>
        </div>
    </section>
 -->

</div>

{% endblock content %}
{% block scripts %}
    <script src="{% static 'js/indexjs.js' %}"></script>
{% endblock %}