{% extends "_base.html" %}
{% block title %}Log in{% endblock title %} 
{% block content %}
<div class="col-8 mx-3">
    <div class="container mt-5 p-4 shadow-lg">
        <form method="post">
            {% csrf_token %}
            <table id="table">
                {{ form.as_table }}
            </table>
            <input type="submit" id="save-btn" value="login">
            <br>
            <a href="{% url "password_reset" %}">Forgot my password</a>
            <br>
            <a href="{% url "signup" %}">Signup</a>
        </form>
    </div>
</div>


{% endblock content %}



